@font-face {
    font-family:"Inter";
    src: url("../material/Inter.ttf");
}
:root{
    --Grey:#999999;
    --DeepGrey:#7f7f7f;
    --DarkestGrey:#353535;
    --DarkWhite:#f4f4f4;
    --Blue:#087fe7;
    --LightGrey:#e5e5e5;
    --Black:#050505;
    --LightBlack: #121212;
    --DarkGrey: #666666;
    --White: #ffffff;

    --ShadowLight: rgba(0, 0, 0, 0.1);
    --ShadowDark: rgba(0, 0, 0, 0.2);
    
    --XXSmall: 12px;
    --XSmall: 13px;
    --Small: 13.5px;
    --XXMedium: 14px;
    --XMedium: 15px;
    --Medium: 18px;
    --Large: 24px;
    --XLarge: 26px;
    --XXLarge: 36px;
    --Huge: 45px;
    --XHuge: 53px;

    --FWeightS: 320;
    --FWeightM: 400;
    --FWeightL: 450;
    --FWeightXL: 550;
    --FWeightXXL: 650;
}


*{
    font-family: "Inter";
}

body{
    background-color: var(--White);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--White);
}
nav{
    margin: 0px 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--LightGrey);
    padding: 20px 0px;
}

#NavRight a, #NavLeft a{
    text-decoration: none;
    color: var(--LightBlack);
    font-weight: var(--FWeightM);
    padding: 8px;
    margin: 0px;
}
#NavRight a img, #NavLeft a img{
    padding-bottom: 2px;
}

#NavLeft, #NavRight{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;   
}

#NavLeft #Barky{
    height: 25px;
}

#NavRight #LogInLine {
    padding-left: 20px;
    border-left: 1px solid var(--LightGrey);
}
nav #Burger{
    display: none;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
}
nav #NavRight img:hover{
    background-color: var(--DarkWhite);

}

button{
    background-color: var(--Black);
    color: var(--White);
    padding: 8px 11px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--ShadowDark);
    font-weight: var(--FWeightL);
    display: inline;
    width: 120px;
}
button:hover{
    background-color: var(--DarkestGrey);
}
header a:hover{
    background-color: var(--DarkWhite);
    border-radius: 5px;
}

.Struktur{
    max-width: 1000px;
    width: 100%;
    margin-top: 71px;
    margin-left: auto;
    margin-right: auto;
}

#Intro{
    display: flex;
    margin-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--LightGrey);
    gap: 50px;
}

#Intro img{
    max-width: 450px;
    width: 100%;
}
#IntroText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--DeepGrey);
    font-weight: var(--FWeightS);
    font-size: var(--Medium);
    
}

#IntroText h1{
    font-weight: var(--FWeightXXL);
    font-size: var(--XHuge);
    color: var(--Black);
    margin: 0;
}
p{
    line-height: 1.6;
    margin-top: 2px;
}
#Brands{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 30px;
    padding: 0 30px 30px 30px;
    border-bottom: 1px solid var(--LightGrey);
}
#Brands img{
    height: 25px;
    mix-blend-mode: multiply;
}

.App .AppPic{
    max-width: 995px;
    width: 100%;
    box-shadow: 0px 0px 10px var(--ShadowLight);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.App{
    margin-top: 80px;

}
.App h2{
    font-size: var(--XXLarge);
    font-weight: var(--FWeightXXL);
    margin: 15px 0px;
}

.AppText p{
    max-width: 480px;
    font-weight: var(--FWeightM);
    color: var(--DeepGrey);
}


.Person{
    text-align:center;
    color: var(--Grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Person h1{
    font-size: var(--XXLarge);
    font-weight: var(--FWeightXL);
    line-height: 1.1;
}
.Person div{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}
.Person div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.Person div p{
   font-size: var(--XXSmall); 
   font-weight: var(--FWeightS);
   margin: 0px 0px 0px 8px;
}

.Person img{
    height: 50px;  
}
.Person .Name{
    color: var(--Black);
    font-size: var(--XXMedium);
    font-weight: var(--FWeightL);
}
#EndApp{
    padding-bottom: 80px;
    border-bottom: 1px solid var(--LightGrey);
}

#Plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--LightGrey);

}
#Plan h1{
    font-size: var(--XXLarge);
    font-weight: var(--FWeightXXL);
    margin-top: 80px;
    margin-bottom: 0px;
}
#Plan button{
    margin: 20px 0px 70px 0px;
}
#Plan p{
    color: var(--DeepGrey);
    margin: 0;
    max-width: 600px;
    font-size: var(--XMedium);
    font-weight: var(--FWeightL);

}
#BarkyPlan{
    background-color: var(--DarkWhite);
    max-width: 550px;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;

}
.PlanBit{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--LightGrey);
    align-items: center;
    align-content: center;
    padding: 10px;
}
.PlanBit img{
    height: 20px;
    margin: 0;
}
#DarkTextBit{
    color: var(--LightBlack);
}
#LastBit{
    border-bottom: none;
}
#Build{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 80px;
    

}
#Build h1{
    margin: 0px;
    font-size: var(--XXLarge);
    font-weight: var(--FWeightXXL);
}
#Build p{
    margin: 0px;
    margin-bottom: 10px;
    font-size: var(--XMedium);
    font-weight: var(--FWeightM);
    color: var(--DeepGrey);
}
#ENPRDE{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 0px 100px 0px;
}
#EN, #PR, #DE{
    max-width: 300px;
}
#PR{
    border-right: 1px solid var(--LightGrey);
    border-left: 1px solid var(--LightGrey);
    padding: 0px 20px;
}
#ENPRDE a{
    color: var(--LightBlack);
    text-decoration: underline;
    padding: 5px;
    border-radius: 5px;
    font-size: var(--XMedium);
    font-weight: var(--FWeightL);
}
#ENPRDE h3{
   font-weight: var(--FWeightXXL);
   font-size: var(--Large);
   margin: 5px 0px 10px 0px;
}
#Build a:hover{
    color: #087fe7;
}
#G2Rate{
    display: grid;
    margin: 18px 0px 80px 0px;
    grid-template-rows: 250px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#Build #DogLove{
    margin: 40px 0px;
}
#G2Rate h3,#G2Rate p{
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: justify;
}
#G2Rate p{
    grid-row: 1/2;
    grid-column: 1/3;
    margin-top: 50px;
    max-width: 440px;
}
#G2Rate img{
    max-width: 495px;
    width: 100%;
    grid-row: 1/2;
    grid-column: 3/5;
}
#Procent1{
    grid-row: 2/3;
    grid-column: 1/2;
    border-right: 1px solid var(--LightGrey);
}
#Procent2{
    grid-row: 2/3;
    grid-column: 2/3;
    border-right: 1px solid var(--LightGrey);
}
#Procent3{
    grid-row: 2/3;
    grid-column: 3/4;
    border-right: 1px solid var(--LightGrey);
}
#Procent4{
    grid-row: 2/3;
    grid-column: 4/5;
}
#Procent1 p, #Procent2 p, #Procent3 p, #Procent4 p{
    color: var(--DarkGrey);
    margin: 0px;
    text-align: center;
}
#Procent1 h1, #Procent2 h1, #Procent3 h1, #Procent4 h1{
    color: var(--DarkGrey);
    font-weight: var(--FWeightXXL);
    font-size: var(--XHuge);
}
#Build #PMargin{
    margin: 5px 0px 10px 0px;
}
#FooterLine{
    margin: 0px 15px;
    display: block;
    border-top: 1px solid var(--LightGrey);
    padding: 20px 0px;
    width: 98%;
}

Footer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 0px 40px 0px;
}
#FooterIcons img{
    height: 30px;
    margin-bottom: 15px;
}
#FooterIcons{
    flex: -2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    width: 100%;

}
#FooterIcons #Socials{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 10px;
}
#FooterIcons p{
    font-weight: var(--FWeightM);
    font-size: var(--XXMedium);
    max-width: 250px;
}    
#FooterIcons #Socials img{
    height: 20px;
}
.FooterTexts{
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: justify;
    gap: 10px;
}
Footer .FooterTexts p{
    margin: 0px;
    font-size: var(--XMedium);
    font-weight: var(--FWeightXL);
}
Footer .FooterTexts a{
    text-decoration: none;
    color: var(--DeepGrey);
    font-size: var(--XMedium);
    font-weight: var(--FWeightL);
}
Footer .FooterTexts a:hover{
    text-decoration: underline;
    color: var(--DeepGrey);
}
@media (max-width: 1080px){
    nav a{
        display: none;
    }
    nav #LogInLine{
        display: none;
    }
    nav #Burger{
        display: inline;
    }
}

@media (max-width: 601px){
    nav #NavRight button{

        display: none;
    }
}
